---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="About">
  <div class="grid md:gap-10 grid-cols-1 lg:grid-cols-5">
    <div class="grid md:grid-rows-2 col-span-2 h-min">
        <h1 class="h-min align-bottom font-[Jura] font-semibold text-5xl md:text-7xl text-black dark:text-white pb-8 text-left">
            Welcome to the <span class="text-blue-medium dark:text-blue-medium" >LaxIMU</span> portal.
        </h1>
        <h1 class="h-min font-[Jura] font-semibold text-xl md:text-xl text-text-nav text-left pb-8">
            The web app for connecting your LaxIMU device, viewing output data on your game and visualising your form.
        </h1>    
    </div>
    <div class="col-span-3 pb-8">
      <img src="/assets/IMU_Device_Shaft_Visual.png">
    </div>
</div>
<div class="grid md:gap-10 grid-cols-1 lg:grid-cols-2 pb-10">
<div class="w-full bg-light-project-thumb dark:bg-dark-project-thumb px-10 py-14 rounded-2xl border">
      <h2 class="w-full text-left pb-8 text-2xl md:text-4xl font-bold font-['Jura'] text-black dark:text-white">
        <span class="md:text-4xl text-blue-medium">➔</span> The Device
      </h2>
      <h1 class="h-min font-[Jura] font-semibold text-xl md:text-xl text-dark-project-thumb dark:text-text-nav text-left pb-8">
        The web app for connecting your LaxIMU device, viewing output data on your game and visualising your form.
      </h1>
      <div class="flex justify-center items-center">
        <img src="/assets/IMU_Device_Exploded.png" width="400px" class="align-center">
      </div>
</div>
<div class="w-full  bg-light-project-thumb dark:bg-dark-project-thumb px-10 py-14 rounded-2xl border">
  <h2 class="w-full text-left pb-8 text-2xl md:text-4xl font-bold font-['Jura'] text-black dark:text-white">
    <span class="md:text-4xl text-blue-medium">➔</span> The Software
  </h2>
  <div class="flex justify-center items-center">
    <img src="/assets/IMU_Device_Exploded.png" width="400px" class="align-center">
  </div>
  <h1 class="h-min font-[Jura] font-semibold text-xl md:text-xl text-dark-project-thumb dark:text-text-nav text-left pb-8">
    The web app for connecting your LaxIMU device, viewing output data on your game and visualising your form.
  </h1>
</div>
</div>
</BaseLayout>