---

---

<div class="loader">
  <img src="/assets/logo.png" width="100">
</div>

<script>
  window.addEventListener('load', () => {
        setTimeout( function() {
            window.location.assign("/home");
        }, 1000 );
});
</script>

<style>
  .loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f1f5f9;
  }
</style>