---
import photography from "../collections/photography.json";
import PhotoCard from "../components/PhotoCard.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Photography">
  <section class="relative z-20 w-full mx-auto my-12 px-7 lg:px-0">
    <div
      class="z-50 grid items-stretch w-full grid-cols-1 my-8 gap-7 sm:gap-5 sm:grid-cols-3"
    >
      {
        photography.map((photo) => {
          return (
            <PhotoCard
              image={photo.image}
            />
          )
        })
      }
    </div>
  </section>
</BaseLayout>