---
interface Props {
	name: string;
  description: string;
  url: string;
  image: string;
}

const { name, description, url, image } = Astro.props;
---

<a
  href={url}
  class="bg-transparent relative flex flex-col items-stretch w-full h-full"
>
<div class="bg-light-project-thumb dark:bg-dark-project-thumb overflow-hidden">
    <img src={image} class="w-full h-auto hover:scale-[1.1] ease-in-out duration-300" />
</div>
<span class="text-black dark:text-white font-bold pt-4"><span class="text-sm text-blue-medium">➔</span>  {name}</span>
<span class="text-text-nav pb-8">{description}</span>
</a>