---

interface Props {
  skill: string;
}

const { skill } = Astro.props;
---

<div class="bg-white dark:bg-dark-project-thumb w-max h-min px-4 py-1 rounded-md ">
    <h3 class="text-black dark:text-text-nav">
      {skill}
    </h3>
</div>